@page "/Evento/listar/"
@rendermode InteractiveServer
@inject ListarEventosDeportivosUseCase ListEve
@inject ListarEventosConCupoDisponibleUseCase ListCupEve
@inject EventoDeportivoBajaUseCase RemEve
@inject EventoDeportivoModificacionUseCase ModEve
@inject NavigationManager Navigation
@inject IServicioUsuarioSesion Sesion
@inject IJSRuntime JSRuntime

<FormModEve @ref="form" />
<DialogoConfirmacion @ref="dialogo" Mensaje="@MensajeDialogo" MostrarEliminar="@mostrarBotonEliminar" OnEliminar="ConfirmarEliminar" />

<label>
    <input type="checkbox" @bind="mostrarSoloCupos" @bind:after="ActualizarEventosMostrados" />
    Solo Cupos Disponibles
</label>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>Fecha Inicio</th>
            <th>Duración (hs.)</th>
            <th>Cupo Máximo</th>
            <th>Responsable ID</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eve in _eventosMostrados)
        {
            <tr>
                <td>@eve.Id</td>
                <td>@eve.Nombre</td>
                <td>@eve.FechaHoraInicio</td>
                <td>@eve.DuracionHoras</td>
                <td>@eve.CupoMaximo</td>
                <td>@eve.ResponsableId</td>
                <td>@eve.Descripcion</td>
                <td>
                    <button class="btn btn-info" @onclick="() => VerAsistentes(eve)">Ver asistentes</button>
                    <button class="btn btn-mod" @onclick="() => Modificar(eve)">Editar</button>
                    <button class="btn btn-baja" @onclick="() => MostrarDialogoEliminar(eve)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menú</button>

@code {
    private List<EventoDeportivo> _eventosMostrados = new();
    private DialogoConfirmacion dialogo = null!;
    private FormModEve form = null!;
    private EventoDeportivo? EventoAEliminar;

    private bool mostrarSoloCupos = false;
    private string MensajeDialogo = "";
    private bool mostrarBotonEliminar = true;

    protected override void OnInitialized()
    {
        ActualizarEventosMostrados();
    }

    private void ActualizarEventosMostrados()
    {
        if (mostrarSoloCupos)
            _eventosMostrados = ListCupEve.Ejecutar();
        else
            _eventosMostrados = ListEve.Ejecutar();

        StateHasChanged();
    }

    void VerAsistentes(EventoDeportivo evento)
    {
        if (evento.FechaHoraInicio.AddHours(evento.DuracionHoras) <= DateTime.Now)
        {
            Navigation.NavigateTo($"/evento/asistentes/{evento.Id}");
        }
        else
        {
            MensajeDialogo = "Solo se pueden ver los asistentes de eventos finalizados.";
            mostrarBotonEliminar = false;
            dialogo.Mostrar();
        }
    }

    public void Modificar(EventoDeportivo eve)
    {
        form.OnConfirmado = EventCallback.Factory.Create<EventoDeportivo>(this, GuardarCambios);
        form.Eve = eve;
        form.Mostrar();
    }

    public void GuardarCambios(EventoDeportivo eve)
    {
        if (Sesion.UsuarioActual != null)
        {
            ModEve.Ejecutar(eve, Sesion.UsuarioActual.Id);
            ActualizarEventosMostrados();
        }
        else
        {
            MensajeDialogo = "Debes iniciar sesión";
            mostrarBotonEliminar = false;
            dialogo.Mostrar();
            Navigation.NavigateTo("/login");
        }
    }

    public void MostrarDialogoEliminar(EventoDeportivo eve)
    {
        EventoAEliminar = eve;
        MensajeDialogo = $"¿Seguro que desea eliminar el evento {eve.Id}?";
        mostrarBotonEliminar = true;
        dialogo.Mostrar();
    }

    public void ConfirmarEliminar()
    {
        if (EventoAEliminar != null)
        {
            if (Sesion.UsuarioActual != null)
            {
                RemEve.Ejecutar(EventoAEliminar.Id, Sesion.UsuarioActual.Id);
                EventoAEliminar = null;
                ActualizarEventosMostrados();
            }
            else
            {
                MensajeDialogo = "Debes iniciar sesión";
                mostrarBotonEliminar = false;
                dialogo.Mostrar();
                Navigation.NavigateTo("/login");
            }
        }
    }
    void Volver() => Navigation.NavigateTo("/home");

}
